body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #000 !important;
	color: #fff !important;
}

h2 {
	font-size: 1.2em;
	text-transform: uppercase;
}


.movie-container ul {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	list-style: none;
	margin: 0;	
	padding: 0;
}

.movie-container li {
	position: relative;
}

.movie-container header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px;
}
.movie-container header div {
	display: flex;
}

.movie-container header input {
	background: #000;
	color: #fff;
}

.movie-container header button {
	background-color: black;
	border: none;
	color: white;
	height: 33px;
	font-weight: bold;
	line-height: 21px;
}

.movie-container header button:hover {
	border: 1px solid rgb(238, 238, 238);
}

.movie {
	padding: 5px;
	margin-top: 10px;

	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.movie img {
	display: block;
}

.movie-detail {
	position: relative;
}

.movie-header {
	text-align: left;
}

.movie-header img {
	width: 30%;
}

.movie-detail img {
	width: 100%;
}

.movie-detail h3 {
	position: absolute;
	left: 50px;
	bottom: 100px;
}

.movie-detail h4 {
	position: absolute;
	left: 50px;
	bottom: 25px;
}

.movie-detail span {
	position: absolute;
	top: 10px;
	right: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2em;
	cursor: pointer;
}

.close {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close::before,
.close::after {
	content: '';
	position: absolute;
	height: 4px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -2px;
	background: #fff;
	border-radius: 5px;
}

.close:hover::before,
.close:hover::after {
	background: #1ebcc5;
}
